.bod {  
    background-color: whitesmoke;
    font-family: 'courier';
    padding: 30px;
    
}

.col-container {
    inline-size: auto;
    background-color: white;
    margin: 1% 10% 10% 15%;

}

.figure {
    width: 170px;
    height: 170px;
}

.fig-w-text {
    width: 300px;
    height: 300px;
}

.gofigure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.texty {
    text-align: match-parent;
    font-size: 20px;
    font-family: 'courier';
}

.texty-norm {
    text-align: left;
    font-size: 20px;
    font-family: 'courier';
    margin:2% 2% 2% 2%;
}

.titles h1 {
    text-align: left;
    margin: 3% ;
    font-size: 35px;
    font-weight: 900;
    color: lightseagreen;
    padding: 10px;
    width: 100%;
    font-family: 'courier';
}

h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    color: lightseagreen;
    padding: 10px;
}

h4 {
    text-align: left;
    padding: 10px;
    margin: 2%;
    font-size: 18px;
}

.navbar-brand {
    background-color: #44ccaa; 
    padding: 15px;
    font-weight: bold;
    font-size: 250%;
    font-family: 'Courier';
}

.nav-item {
    font-family: 'courier';
    font-weight: bold;
    font-size: 22px;
}

.comparisons {
    width: 100%;
    height: 100%; 
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.hover figure {
	background: #1abc9c;
}
.hover figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover figure:hover img {
	opacity: .89;
}



@media (max-width: 600px) {

    .navbar {
        background-color: #44ccaa !important;
        
    }
    .col-container {
        margin: 1% 1% 1% 1%;
    }

}

