.bod {  
    background-color: whitesmoke;
    font-family: 'courier';
    padding: 30px;
    
}

.col-container {
    inline-size: auto;
    background-color: white;
    margin: 1% 10% 10% 15%;

}

.figure {
    width: 170px;
    height: 170px;
}

.fig-w-text {
    width: 300px;
    height: 300px;
}

.texty {
    text-align: match-parent;
    font-size: 20px;
    font-family: 'courier';
}

.texty-norm {
    text-align: left;
    font-size: 20px;
    font-family: 'courier';
    margin:2% 2% 2% 2%;
}

.titles h1 {
    text-align: left;
    margin: 3% ;
    font-size: 35px;
    font-weight: 900;
    color: lightseagreen;
    padding: 10px;
    width: 100%;
    font-family: 'courier';
}

.navbar-brand {
    background-color: #44ccaa; 
    padding: 15px;
    font-weight: bold;
    font-size: 250%;
    font-family: 'Courier';
}

.nav-item {
    font-family: 'courier';
    font-weight: bold;
    font-size: 22px;
}



@media (max-width: 600px) {

    .navbar {
        background-color: #44ccaa !important;
        
    }
}

