.bod {  
    background-color: whitesmoke;
    font-family: 'courier';
    padding: 30px;
    
}

.col-container {
    inline-size: auto;
    background-color: white;
    margin: 1% 10% 10% 15%;

}

.figure {
    width: 170px;
    height: 170px;
}

.fig-w-text {
    width: 300px;
    height: 300px;
}

.gofigure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.texty {
    text-align: match-parent;
    font-size: 20px;
    font-family: 'courier';
}

.texty-norm {
    text-align: left;
    font-size: 20px;
    font-family: 'courier';
    margin:2% 2% 2% 2%;
}

.titles h1 {
    text-align: left;
    margin: 3% ;
    font-size: 35px;
    font-weight: 900;
    color: lightseagreen;
    padding: 10px;
    width: 100%;
    font-family: 'courier';
}

h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    color: lightseagreen;
    padding: 10px;
}

h4 {
    text-align: left;
    padding: 10px;
    margin: 2%;
    font-size: 18px;
}

.navbar-brand {
    background-color: #44ccaa; 
    padding: 15px;
    font-weight: bold;
    font-size: 250%;
    font-family: 'Courier';
}

.nav-item {
    font-family: 'courier';
    font-weight: bold;
    font-size: 22px;
}

.comparisons {
    width: 100%;
    height: 100%; 
}

.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
.container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
.text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }



@media (max-width: 600px) {

    .navbar {
        background-color: #44ccaa !important;
        
    }
    .col-container {
        margin: 1% 1% 1% 1%;
    }

}

